{% extends 'base.html' %}
{% block title %}Password reset Done{% endblock %}
{% block content %}
    <!-- Header -->
    <div class="feature">
        <div class="overlay">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 mx-auto">
                        <h2 class="display-2">Password Reset</h2>
                        <div class="card">
                            <div class="card-header bg-dark text-white">
                                <form method="post">
                                    {% csrf_token %}
                                    {% for field in form %}
                                        <p>
                                            {{ field.label_tag }}<br>
                                            {{ field }}
                                            {% for error in field.errors %}
                                                <p style="color: red">{{ error }}</p>
                                            {% endfor %}
                                        </p>
                                    {% endfor %}
                                    <button class="btn btn-outline-light" type="submit">Submit</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
