{% extends 'base.html' %}
{% block title %}Password reset Done{% endblock %}
{% block content %}
    <!-- Header -->
    <div class="feature">
        <div class="overlay">
            <div class="container">
                <div class="row mt-3">
                    <h2 class="display-2">Password reset complete</h2>
                    <p>
                        Your password has been set. You may go ahead and <a href="{% url 'login_user' %}">sign
                        in</a> now.
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
