{% extends 'base.html' %}

{% load static %}

{% block content %}
    <div class="bg-dark text-white" style="min-height: 94vh; margin-top: 0;">
        <div class="container">

            {% if user.is_authenticated %}
                <div class="text-center">
                    <h1>{{ user.first_name }} {{ user.last_name }}</h1>
                </div>

                {% if profile.profile_pic %}
                    <img style="max-height: 25vh; display: block; margin: 0 auto"
                         src="{{ profile.profile_pic.url }}">
                {% else %}
                    <img style="max-height: 20vh; display: block; margin: 0 auto"
                         src="{% static 'img/blank-profile-picture.png' %}">
                {% endif %}

                {% if profile.description %}
                    <p class="mt-3 ml-5">{{ profile.description }}</p>
                {% else %}
                    <h3 class="text-center my-3">No Description</h3>
                {% endif %}

                {% if profile.user == user %}
                    <div class="text-center">
                        <a href="{% url 'edit_profile' %}" class="btn btn-lg btn-info"><i class="far fa-edit"></i>
                            Edit Profile</a>
                    </div>
                {% endif %}
            {% endif %}

            {# Displays User's Locations #}
            <div class="row">
                <div class="col-md-4 offset-md-1">
                    <h4>Your Locations</h4>
                    {% if locations %}
                        {% for location in locations %}
                            <div>
                                <a href="{% url 'location' location.id %}">{{ location.title }}</a>
                                {# If current user show edit and delete buttons #}
                                {% if profile.user == user %}
                                    <a href="{% url 'edit_location' location.id %}"
                                       class="btn btn-outline-info"><i class="fas fa-pen-square"></i></a>
                                    <a href="{% url 'delete_location' location.id %}" class="btn btn-outline-danger"><i
                                            class="fas fa-trash-alt"></i></a>
                                {% endif %}
                            </div>
                            <br>
                        {% endfor %}
                    {% endif %}
                </div>

                {# Displays User's Theories #}
                <div class="col-md-4 offset-md-2">
                    <h4>Your Theories</h4>
                    {% if theories %}
                        {% for theory in theories %}
                            <div>
                                <a href="{% url 'theory' theory.id %}">{{ theory.title }}</a>
                                {% if profile.user == user %}
                                    <a href="{% url 'edit_theory' theory.id %}" class="btn btn-outline-info"><i
                                            class="fas fa-pen-square"></i></a>
                                    <a href="{% url 'delete_theory' theory.id %}"
                                       class="btn btn-outline-danger"><i
                                            class="fas fa-trash-alt"></i></a>
                                {% endif %}
                            </div>
                            <br>
                        {% endfor %}
                    {% endif %}
                </div>

            </div>
        </div>
    </div>
{% endblock %}