{% extends 'base.html' %}

{% block content %}
    <div class="feature">
        <div class="overlay">
            <div class="container">
                <h1 class="display-1 text-center">About</h1>
                <hr color="white">
                <div class="bg-dark" style="opacity: .8;">
                    <p style="letter-spacing: 2px">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc elit tellus, viverra vitae
                        fringilla vitae, placerat quis est. Cras pulvinar elementum fermentum. Donec aliquam bibendum
                        nunc, id elementum ipsum luctus non. Pellentesque eget eros velit. Ut mollis odio sodales tellus
                        volutpat cursus eget in neque. Maecenas a molestie justo. Quisque nec tortor et urna
                        pellentesque eleifend. In vulputate nulla posuere, volutpat ipsum non, sagittis nisi. Cras id
                        nisi quam. Cras sollicitudin ante vel pellentesque aliquam. Etiam nec ligula lacus. Nam eu
                    </p>
                    <p style="letter-spacing: 1px">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc elit tellus, viverra vitae
                        fringilla vitae, placerat quis est. Cras pulvinar elementum fermentum. Donec aliquam bibendum
                        nunc, id elementum ipsum luctus non. Pellentesque eget eros velit. Ut mollis odio sodales tellus
                        volutpat cursus eget in neque. Maecenas a molestie justo. Quisque nec tortor et urna
                        pellentesque eleifend. In vulputate nulla posuere, volutpat ipsum non, sagittis nisi. Cras id
                        nisi quam. Cras sollicitudin ante vel pellentesque aliquam. Etiam nec ligula lacus. Nam eu
                    </p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
