{% extends 'base.html' %}

{% block content %}
    <div class="feature">
        <div class="overlay">
            <div class="container">
                <h1 class="display-1 text-center">About</h1>
                <hr color="white">
                <div class="bg-dark" style="opacity: .8;">
                    <p style="letter-spacing: 1px">
                        Ancient structures are a gift to the world. Sites like the Great Pyramid and Angkor Wat should
                        be revered. Not only are these sites beautiful, they are also mysterious. Modern history does
                        not always paint an accurate history. We are told that the Great Pyramid was built in about 20
                        years, yet no one has given an accurate account of how. Imagine 2,300,000 limestone blocks
                        weighing 2.5 tons each moved from a quarry over 500 miles away. It is impossible to fathom. We
                        are also led to believe it was simply a burial site for a pharaoh who is not even referenced
                        with the structure. There are many other theories, with supporting evidence, that would
                        otherwise be called nonsense in a biased educational setting.
                    </p>
                    <p style="letter-spacing: 1px">
                        At Lost Ancient Knowledge we encourage people to share mysterious ancient locations that
                        interest them. We also encourage people to share what they know about the ancient world in our
                        theories area.
                    </p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
