{% extends 'base.html' %}

{% block content %}
    <div class="feature text-white">
        <div class="overlay">
            <div class="container">
                <h1 class="display-1 text-center">Theories</h1>
                <hr color="white">

                <div class="row">
                    {% for theory in theories %}
                        <a href="{% url 'theory' theory.id %}" class="bg-dark col-md-6" style="opacity: .8;">
                            {% if theory.main_image %}
                                <img style="height: 5vh" alt="main_img" src={{ theory.main_image.url }}>
                            {% endif %}
                            <span class="text-white">{{ theory.title }}</span>
                        </a>
                    {% endfor %}
                </div>

            </div>
        </div>
    </div>
{% endblock %}