{% extends 'base.html' %}

{% block content %}
    <div class="feature text-white">
        <div class="overlay">
            <div class="container">

                {# Desktop View #}
                <div class="text-center d-none d-md-block">
                    <h1 class="display-1">{{ location.title }}</h1>
                    <h2 class="display-2">{{ location.region }}, {{ location.country }}</h2>
                </div>
                {#            #}

                {# Mobile View #}
                <div class="pb4 d-sm-none">
                    <h3>{{ location.title }}</h3>
                    <h3>{{ location.region }}, {{ location.country }}</h3>
                </div>
                {#            #}

                <hr color="white"/>
                <div class="row">
                    <div class="col-8 offset-2">
                        <img class="img-fluid" src="{{ location.main_image.url }}" alt="main_img"/>
                    </div>
                </div>


                <div class="row">
                    {% if location.sub_image_1 %}
                        <div class="col-md-4">
                            <a href="{{ location.sub_image_1.url }}">
                                <img src="{{ location.sub_image_1.url }}" alt="" class="img-fluid">
                            </a>
                        </div>
                    {% endif %}

                    {% if location.sub_image_2 %}
                        <div class="col-md-4">
                            <a href="{{ location.sub_image_2.url }}">
                                <img src="{{ location.sub_image_2.url }}" alt="" class="img-fluid">
                            </a>
                        </div>
                    {% endif %}

                    {% if location.sub_image_3 %}
                        <div class="col-md-4">
                            <a href="{{ location.sub_image_3.url }}">
                                <img src="{{ location.sub_image_3.url }}" alt="" class="img-fluid">
                            </a>
                        </div>
                    {% endif %}
                </div>


            </div>
        </div>
    </div>

    <div class="text-white bg-dark" style="min-height: 35vh; position: relative">
        <div class="container">
            <div class="row">
                <div class="col-md-12 bg-dark">
                    <p class="my-3">{{ location.description }}</p>
                    <p class="mt-3">Added
                        by: {{ location.profile.user.first_name }} {{ location.profile.user.last_name }}</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}